<a href="https://colab.research.google.com/github/majorquev/DBDC_202507_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/Clase1/Clase_1_01_variables_y_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>

**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com

## Conociendo R

### Conociendo R de nuevo
 R es un lenguaje funcional orientado principalmente al análisis de datos. Fue desarrollado por Ross Ihaka y Robert Gentleman, cuyas iniciales de sus nombres dieron origen al nombre de este software.

Hoy existen varias maneras de ejecutar R, una de ellas es de manera local, para lo cual es posible descargar la última versión (disponible para Windows, Linux y OSX), desde el repositorio CRAN (https://cran.r-project.org/) .
Otra manera es mediante la utilización de Google Colab, los que permiten la ejecución de R de manera remota, sin la necesidad de instalar R.

En un notebook podemos añadir info.
Podemos editar esto...

# Puedo añadir otro  título
## Subtítulo
### Etc..

Generar listas

   * Hola
   * Otra opción
   * opcion 2

Código en latex $\sum\limits_{i=1}^n x_i$ $\lim_{x \rightarrow 1}$

## 1. R... Una gran calculadora

En R es posible ejecutar directamente en consola sentencias aritméticas simples, junto con la evaluación de una gran cantidad de funciones disponibles por defecto.

    - + , -, /,* ,^ , %%, %*%.
    - Logaritmo natural: log()
    - Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
    - Función exponencial: exp()
    - Raiz cuadrada: sqrt().
    - Valor absoluto: abs()
    - parte entera: floor()
    - Truncar: trunc()
    - Redondear: round(,)
    - Factorial: factorial()
    - Número combinatorio: choose(n,k)

In [3]:
# En estas celdas pueden ejecutar código R. Las líneas que comiencen con '#' corresponden a comentarios y por ende no son ejecutables
# Shift + Enter : ejecuta el código de la celda y pasan a la celda siguiente.
1+1
x <-100
x

[1] 2

[1] 100

In [4]:
sqrt(x)

[1] 10

In [10]:
4^2
abs(-9)
round(7.5362,2)
floor(7.5362)
ceiling(7.5362)

[1] 16

[1] 9

[1] 7.54

[1] 7

[1] 8

## 2. Variables y tipos de datos

En R es posible distintos tipos de datos u objetos en símbolos llamados variables (en R todo es en esencia un objeto).<br>
La manera más sencilla de asignar un objeto a una variable es mediante la función "<-". Los tipos de datos más utilizados en R corresponden a :
    
    integer   
    double  
    logical   
    character
    factor  
    date

A diferencia de otros lenguajes de programación, no es necesario declarar explicitamente el tipo de dato que almacenará una variable (R es inteligente!)

In [24]:
# Podemos definir distintas variables
a <- 5
c <- 5.7

In [25]:
a
c

[1] 5

[1] 5.7

In [26]:
a + c

[1] 10.7

[1] "hola"

In [19]:
# strings(character)
b <- "hola"  # defino la variable "b"
b

[1] "hola"

In [16]:
a <- TRUE #reasignamos a con una nuevo valor con otro tipo de dato (logical)

In [23]:
a

[1] TRUE

In [28]:
# valores lógicos (logical)
TRUE # Valor der verdad "true" o 1.
FALSE # Valor de verdad "false" o 0

# Pueden abreviar como:
T
F

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

In [35]:
TRUE & FALSE

[1] FALSE

In [36]:
TRUE | FALSE

[1] TRUE

In [39]:
# Podemos comparar la igualdad lógica entre dos valores mendiante "=="

TRUE == T
1+1 == 2
5 == 4

[1] TRUE

[1] TRUE

[1] FALSE

In [41]:
# Podemos evaluar la no igualdad con "!=" (es distinto de)
3 != 4
3 != 3

[1] TRUE

[1] FALSE

In [44]:
# NOTA: Podemos asignar variables con "=", pero la recomendación (convención) es utilizar "<-" para la asignación de variables.

z = 25
z
# Podemos asignar con la flechita en los dos sentidos
(log(4) + 5 )/10 -> resultado # No es una buena práctica.

[1] 25

In [45]:
resultado

[1] 0.6386294

In [50]:
# podemos realizar comparaciones aritméticas
3 >= 3
-4 < 2
1 >= 1

[1] TRUE

[1] TRUE

[1] TRUE

In [52]:
# NOTA: "!" Para negar una sentencia lógica
!TRUE
TRUE & (FALSE | TRUE)
!(TRUE & (FALSE | TRUE))

[1] FALSE

[1] TRUE

[1] FALSE

In [58]:
# NOTA:valor infinito
Inf + 999999999
Inf*Inf
Inf*0
-1/0

[1] Inf

[1] Inf

[1] NaN

[1] -Inf

In [ ]:
# conector lógicos ( & es el "y", | es el "o" )

In [63]:
# date
(no_fecha <- "2025-07-02")

[1] "2025-07-02"

In [67]:
# NOTA: podemos preguntarnos por la clase del dato almacenado en una variable
class(no_fecha) # Nos da la clase del objeto
typeof(no_fecha) # Nos da el tipo de dato

# coercionamos a clase date
(fecha <- as.Date(no_fecha))

[1] "character"

[1] "character"

[1] "2025-07-02"

In [ ]:
class(fecha)

In [69]:
fecha + 30

[1] "2025-08-01"

In [71]:
?as.Date

In [72]:
as.Date("02-2025/07", format = "%d-%Y/%m")

[1] "2025-07-02"

In [73]:
# Observación: Inmutabilidad de variables en R.
X <- 10
y <- X

In [74]:
X <- 11

In [77]:
# ¿Qué valor tiene y?
y
X
# en R las asignaciones por defecto se realizan por valor y no por referencia.
y <- X
y

[1] 10

[1] 11

[1] 11

### Observación:

   1. Cada vez que se define una variable en R, esta queda almacenada en memoria. Una manera de limpiar las variables que se han definido en memoria, es a través de la función rm().
   2. Documentación de R. Cada vez que se quiera acceder a la documentación de una librería o función en particular, se puede tipear "?" o "help()".
   3. Cada vez que se define una nueva variable con el mismo nombre, esta simplemente actualiza su valor.

In [78]:
ls() # retorna un vector con los nombres de todas las variables definidas en el ambiente

 [1] "a"         "b"         "c"         "fecha"     "no_fecha"  "resultado"
 [7] "x"         "X"         "y"         "z"

In [79]:
# remueva algunas de las variables generadas anteriormente
rm(no_fecha)

In [80]:
ls()

[1] "a"         "b"         "c"         "fecha"     "resultado" "x"
[7] "X"         "y"         "z"

In [81]:
no_fecha

ERROR: Error: object 'no_fecha' not found

In [82]:
?rm

In [83]:
rm(list = c("a","resultado", "X") )

In [84]:
ls()

[1] "b"     "c"     "fecha" "x"     "y"     "z"

In [85]:
# Si quisiéramos eliminar todas las variables de nuestro entorno
rm(list = ls())

In [86]:
ls()

character(0)

### 2.1. Missing values

En R, existen tipos de datos especiales para caracterizar la ausencia o la no definición de una variable. Los valores especiales que maneja R son NA, NaN, Inf, -Inf.

In [87]:
# 2.1. Missing Values ------------
# Acá se explica la diferencia entre ellos y cómo reconocerlos.
NA # Not available (son los NULL de SQL o los blanks de excel)
NaN # Not a Number (tambien son "not available")

[1] NA

In [90]:
# para identificar un valor NA o NaN podemos utilizar la función is.na
pais <- "CL"

pais == "CL"
pais == "AR"
pais == NA
"CL" == NA

[1] TRUE

[1] FALSE

[1] NA

In [92]:
pais <- NA

pais == NA
NA == NA

[1] NA

[1] NA

In [96]:
is.na(pais)
is.na(NA)
is.na("CL")
is.na("NA")

[1] TRUE

[1] TRUE

[1] FALSE

[1] FALSE

In [101]:
NaN == NaN
is.nan(NaN)
is.nan(3)

is.na(NaN)
is.nan(NA)

[1] NA

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE