<a href="https://colab.research.google.com/github/majorquev/DBDC_202507_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/Clase2/Clase_2_02_listas_y_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R (continuación)

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>
**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com


## 5. Listas y Dataframes

### 5.1 Listas

Hasta aquí contamos con dos tipos de objetos para almacenar datos; vectores y matrices. Sin embargo, en ambos casos se tiene la limitante de que no es posible combinar distintos tipos de datos en diferentes entradas. Un objeto que permite una mayor flexibilidad son las listas. En R, una lista es básicamente un arreglo unidimensional, donde en cada entrada es posible almacenar distintos **objetos** (los cuales a su vez pueden almacenar distintos tipos de datos (u otros objetos).
En resumen,

   * ¿Qué son?<br>
    Arreglos unidimensionales que guardan distintos tipos de datos u objetos.<br>

   * ¿Cómo se declaran?<br>
    Se pueden declarar mediante el comando list() o combinando listas existentes. <br>
    
   * ¿Cómo se accede a sus elementos?<br>
    Usando [ ] (retorna lista), o bien usando [ [ ] ] (retorna el objeto).
    En cada caso se puede indicar la posición o nombre del objeto que se quiere rescatar.<br>
    Otra manera es mediante el símbolo $ seguido del nombre del objeto.

In [2]:
LETTERS
letters

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [4]:
# 5. Listas y dataframes ------------
# 5.1 Listas  ------------
# Cómo declarar una lista (comando list() )
#num,letra, pl, mat, lista
l1 <- list(num = 1:5,
           letra = "X",
           pl = c("hola", "buenas", "noches"),
           mat = diag(1:5),
           lista = list(a = as.Date("2025-07-09"),
                        b = LETTERS))

In [5]:
l1

$num
[1] 1 2 3 4 5

$letra
[1] "X"

$pl
[1] "hola"   "buenas" "noches"

$mat
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    0    0    0    0
[2,]    0    2    0    0    0
[3,]    0    0    3    0    0
[4,]    0    0    0    4    0
[5,]    0    0    0    0    5

$lista
$lista$a
[1] "2025-07-09"

$lista$b
 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

In [6]:
# estructura
str(l1)

List of 5
 $ num  : int [1:5] 1 2 3 4 5
 $ letra: chr "X"
 $ pl   : chr [1:3] "hola" "buenas" "noches"
 $ mat  : int [1:5, 1:5] 1 0 0 0 0 0 2 0 0 0 ...
 $ lista:List of 2
  ..$ a: Date[1:1], format: "2025-07-09"
  ..$ b: chr [1:26] "A" "B" "C" "D" ...

In [8]:
# atributos básicos
length(l1)
names(l1)

[1] 5

[1] "num"   "letra" "pl"    "mat"   "lista"

In [10]:
# Podemos guardar los objetos en slots con nombres (o no)
l2 <- list(1:4, "X", diag(1:2))

In [11]:
str(l2)

List of 3
 $ : int [1:4] 1 2 3 4
 $ : chr "X"
 $ : int [1:2, 1:2] 1 0 0 2

In [13]:
names(l2) <- c("n1","n2","n3")

In [15]:
str(l2)

List of 3
 $ n1: int [1:4] 1 2 3 4
 $ n2: chr "X"
 $ n3: int [1:2, 1:2] 1 0 0 2

In [17]:
# Podemos combinar listas
l3 <- c(l1,l2)
str(l3)

List of 8
 $ num  : int [1:5] 1 2 3 4 5
 $ letra: chr "X"
 $ pl   : chr [1:3] "hola" "buenas" "noches"
 $ mat  : int [1:5, 1:5] 1 0 0 0 0 0 2 0 0 0 ...
 $ lista:List of 2
  ..$ a: Date[1:1], format: "2025-07-09"
  ..$ b: chr [1:26] "A" "B" "C" "D" ...
 $ n1   : int [1:4] 1 2 3 4
 $ n2   : chr "X"
 $ n3   : int [1:2, 1:2] 1 0 0 2

In [18]:
# Acceso mediante posición
l3[3]

$pl
[1] "hola"   "buenas" "noches"

In [24]:
class(l3)
class(l3[3])

[1] "list"

[1] "list"

In [27]:
# NOTA lista[.] retorna un lista con un elemento,
# lista[[.]] retorna el elmento de la lista lista[.]
l3[3]

$pl
[1] "hola"   "buenas" "noches"

In [28]:
l3[[3]]

[1] "hola"   "buenas" "noches"

In [29]:
class(l3[[3]])

[1] "character"

In [30]:
l3[[3]][2]

[1] "buenas"

In [ ]:
# de la lista l3[[5]], quieo el vector que está en el slot llamado "b" (segundo elemento)

In [ ]:
# Acceso mediante nombre

In [ ]:
# acceso vía "$"

In [ ]:
# para saber el largo de la lista/vector

# Para obtener los nombres de la lista

# si quisiéramos renombrar los slots:

In [ ]:
# También podemos crear nuevos "slots"
## Indicando nombre en [[]] y luego asignando

In [ ]:
# podemos modificar elementos dentro de un slot

### 5.2 Dataframes

Un dataframe es un caso particular de una lista, donde los objetos de cada entrada corresponden a vectores de datos del mismo largo. E este caso cada vector corresponde a una columna del data.frame, mientras que la cantidad de filas corresponde al largo común de los vectores de cada entrada. El objeto resultante es una *tabla*, de ahora en adelante *data.frame*, cuyas columnas poseen distintos tipos de datos entre sí.

 * ¿Cómo se declara un dataframe?<br>
     Mediante la función data.frame(), indicando los vectores que conformarán las columnas.

 * ¿Cómo se accede a los datos de un data.frame?<br>
    Al ser una lista, se puede acceder de la misma manera. Sin embargo también es posible acceder del modo en que se accede a los elementos de una matriz.

In [ ]:
# 5.2 Dataframes ----------
# Ejemplo sencillo de definición de un data.frame
# recordar que 1:3 es lo mismo que c(1,2,3)

In [ ]:
# Acceso a columnas de un data.frame
## Igual que en una lista

In [ ]:
##  Ganamos acceso como matriz
# segundafila de df


# segunda columna y segunda fila

In [ ]:
#Podemos crear nuevas columnas , del mismmo modo que creamos "slots" en una lista

In [ ]:
# podemos seleccionar más de una columna a la vez. Ej: seleccionar col1y col3

# Referenciando el nombre de las columnas

In [ ]:
# Referenciando las posiciones de las columnas

In [ ]:
# Se mantiene la lógica de acceso a los sots de una lista.