<a href="https://colab.research.google.com/github/majorquev/DBDC_202507_Programacion_en_R_para_ciencia_de_datos/blob/main/Evaluaciones/C1/Control_1_pauta_V19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pauta Control 1: Sintaxis básica y manipulación de objetos simples en R

# Sección 1

La siguiente línea de código permite cargar en memoria, un objeto de extensión *.rds que está almacenado en el disco de la máquina en la ruta actual de trabajo.

Para cargar el archivo a la sesión, deben dejar disponible el archivo llamado `pperfilesroductos.RDS` en el directorio de trabajo. Recuerden que en COLAB por defecto este es `./content`.

In [ ]:
perfiles <- readRDS("perfiles.rds")


Este archivo contiene la información de las tendencias salariales globales para roles en Ciencia de Datos, Aprendizaje Automático e Inteligencia Artificial.

Esta información fue recopilada a partir de una combinación de investigación de mercado y fuentes de datos públicas —incluyendo la encuesta salarial de AIJobs (licencia CC0), 365DataScience, Payscale, KDnuggets, ZipRecruiter, entre otros— este conjunto de datos refleja patrones reales de compensación en todo el mundo (https://www.kaggle.com/datasets/adilshamim8/salaries-for-data-science-jobs).

Dentro de la información disponible encontrarán los siguientes campos.

**NOTA:** Deben tener en cuenta que el formato del archivo con el que trabajarán no viene estructurado de esta forma necesariamente, la siguiente tabla es solo ilustrativa y define el tipo de información que encontrarán.

| Campo               | Descripción                                                                                          |
|---------------------|------------------------------------------------------------------------------------------------------|
| `work_year`         | Año en que se reportó el salario. Cubre desde 2020 hasta 2025.                                       |
| `experience_level`  | Nivel de experiencia del empleado al momento del reporte. Valores comunes:                           |
|                     | &nbsp;&nbsp;&nbsp;**EN**: Nivel inicial / Junior                                                    |
|                     | &nbsp;&nbsp;&nbsp;**MI**: Nivel intermedio                                                          |
|                     | &nbsp;&nbsp;&nbsp;**SE**: Nivel senior                                                              |
|                     | &nbsp;&nbsp;&nbsp;**EX**: Ejecutivo / Director                                                      |
| `employment_type`   | Tipo de contrato laboral:                                                                            |
|                     | &nbsp;&nbsp;&nbsp;**FT**: Jornada completa (Full-time)                                              |
|                     | &nbsp;&nbsp;&nbsp;**PT**: Medio tiempo (Part-time)                                                  |
|                     | &nbsp;&nbsp;&nbsp;**CT**: Contrato (Contract)                                                       |
|                     | &nbsp;&nbsp;&nbsp;**FL**: Freelance                                                                 |
| `job_title`         | Título específico del puesto del empleado (por ejemplo: Data Scientist, ML Engineer, etc.).         |
| `salary`            | Salario bruto anual en la moneda original reportada, antes de impuestos y deducciones.              |
| `salary_currency`   | Moneda en la que se pagó originalmente el salario (ej.: USD, EUR, INR).                             |
| `salary_in_usd`     | Salario convertido a USD utilizando tasas de cambio de 2025 para facilitar comparaciones.           |
| `employee_residence`| País (código ISO 3166-1 alfa-2) donde reside el empleado. Puede diferir de la ubicación de la empresa. |
| `remote_ratio`      | Porcentaje de trabajo remoto:                                                                       |
|                     | &nbsp;&nbsp;&nbsp;**0**: Sin trabajo remoto (presencial)                                            |
|                     | &nbsp;&nbsp;&nbsp;**50**: Híbrido (parcialmente remoto)                                             |
|                     | &nbsp;&nbsp;&nbsp;**100**: Totalmente remoto                                                        |
| `company_location`  | País (código ISO 3166-1 alfa-2) donde se encuentra la sede de la empresa.                          |
| `company_size`      | Tamaño de la empresa empleadora:                                                                    |
|                     | &nbsp;&nbsp;&nbsp;**S**: Pequeña (1–50 empleados)                                                   |
|                     | &nbsp;&nbsp;&nbsp;**M**: Mediana (51–500 empleados)                                                 |
|                     | &nbsp;&nbsp;&nbsp;**L**: Grande (más de 501 empleados)                                              |

## Pregunta 1.1

**1a) (1pt)** ¿Qué clase de objetos es `perfiles`? <br>
**1b) (1pt)** ¿Cuántos elementos posee este objeto? <br>
NOTA: Cada uno de estos elementos corresponde a la categoría del perfil profesional.<br>
**1c) (1pt)** ¿Cuáles son los nombres de este objeto?<br>
**1d) (2pt)** ¿Qué clase de objeto está almacenado en el _slot_ llamado `Data_Science` y cuántos elementos posee?<br>
NOTA: Cada uno de estos elementos corresponde a los niveles de experiencia dentro de los perfiles de la categoría `Data_Science`.<br>
**1e) (2pt)** Dentro del _slot_ `Data_Science`, ¿qué clase de objeto está almacenado en la entrada llamada `MI` y cuántos elementos posee?. <br>
NOTA: Este segundo nivel, corresponde al nivel de experiencia de los perfiles registrados por categoría (Pudiendo ser alguno de los siguientes:  `EN: Nivel inicial / Junior`; `MI: Nivel intermedio`;`SE: Nivel senior`;`EX: Ejecutivo / Director`). Así, por ejemplo, la información contenida en `perfiles$Data_Science$MI` corresponde a todos los registros de puestos de trabajo de la categoría "Data_Science" de nivel de experiencia Intermedio (MI)

In [ ]:
str(perfiles)

List of 11
 $ AI_and_Machine_Learning    :List of 4
  ..$ EN:'data.frame':	618 obs. of  10 variables:
  .. ..$ work_year         : int [1:618] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:618] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:618] "Machine Learning Engineer" "Machine Learning Engineer" "Machine Learning Engineer" "Machine Learning Engineer" ...
  .. ..$ salary            : int [1:618] 110000 95000 131400 67100 200000 175000 299300 137100 140000 110000 ...
  .. ..$ salary_currency   : chr [1:618] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:618] 110000 95000 131400 67100 200000 175000 299300 137100 140000 110000 ...
  .. ..$ employee_residence: chr [1:618] "US" "US" "CA" "CA" ...
  .. ..$ remote_ratio      : int [1:618] 100 100 0 0 0 0 0 0 100 100 ...
  .. ..$ company_location  : chr [1:618] "US" "US" "CA" "CA" ...
  .. ..$ company_size      : chr [1:618] "M" "M" "M" "M" ...
  ..$ EX:'data.frame':	251 obs. of  10 variables:
  .. ..$ work_year         : int [1:251] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:251] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:251] "Head of AI" "Head of AI" "Head of AI" "Head of AI" ...
  .. ..$ salary            : int [1:251] 245000 160000 431900 207900 238000 214000 256000 176400 300000 200000 ...
  .. ..$ salary_currency   : chr [1:251] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:251] 245000 160000 431900 207900 238000 214000 256000 176400 300000 200000 ...
  .. ..$ employee_residence: chr [1:251] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:251] 0 0 0 0 0 0 0 0 100 100 ...
  .. ..$ company_location  : chr [1:251] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:251] "M" "M" "M" "M" ...
  ..$ MI:'data.frame':	3163 obs. of  10 variables:
  .. ..$ work_year         : int [1:3163] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:3163] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:3163] "AI Engineer" "AI Engineer" "AI Engineer" "AI Engineer" ...
  .. ..$ salary            : int [1:3163] 160000 100000 185000 162000 120000 110000 248400 122400 143000 90000 ...
  .. ..$ salary_currency   : chr [1:3163] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:3163] 160000 100000 185000 162000 120000 110000 248400 122400 143000 90000 ...
  .. ..$ employee_residence: chr [1:3163] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:3163] 0 0 0 0 100 100 0 0 0 0 ...
  .. ..$ company_location  : chr [1:3163] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:3163] "M" "M" "M" "M" ...
  ..$ SE:'data.frame':	9210 obs. of  10 variables:
  .. ..$ work_year         : int [1:9210] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:9210] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:9210] "Machine Learning Engineer" "Machine Learning Engineer" "Machine Learning Engineer" "Machine Learning Engineer" ...
  .. ..$ salary            : int [1:9210] 277000 170000 195500 122400 220000 198000 197400 144200 181000 144200 ...
  .. ..$ salary_currency   : chr [1:9210] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:9210] 277000 170000 195500 122400 220000 198000 197400 144200 181000 144200 ...
  .. ..$ employee_residence: chr [1:9210] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:9210] 0 0 100 100 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:9210] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:9210] "M" "M" "M" "M" ...
 $ Analytics_and_BI           :List of 4
  ..$ EN:'data.frame':	5688 obs. of  10 variables:
  .. ..$ work_year         : int [1:5688] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:5688] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:5688] "Data Analyst" "Data Analyst" "Data Analyst" "Data Analyst" ...
  .. ..$ salary            : int [1:5688] 85000 62835 40000 30000 32904 32904 87360 58240 105000 85000 ...
  .. ..$ salary_currency   : chr [1:5688] "USD" "USD" "GBP" "GBP" ...
  .. ..$ salary_in_usd     : int [1:5688] 85000 62835 50632 37974 34635 34635 87360 58240 110526 89473 ...
  .. ..$ employee_residence: chr [1:5688] "US" "US" "GB" "GB" ...
  .. ..$ remote_ratio      : int [1:5688] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:5688] "US" "US" "GB" "GB" ...
  .. ..$ company_size      : chr [1:5688] "M" "M" "M" "M" ...
  ..$ EX:'data.frame':	223 obs. of  10 variables:
  .. ..$ work_year         : int [1:223] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:223] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:223] "Data Analyst" "Data Analyst" "Business Intelligence" "Business Intelligence" ...
  .. ..$ salary            : int [1:223] 130920 87280 204000 168000 204000 168000 90000 75000 241800 192400 ...
  .. ..$ salary_currency   : chr [1:223] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:223] 130920 87280 204000 168000 204000 168000 90000 75000 241800 192400 ...
  .. ..$ employee_residence: chr [1:223] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:223] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:223] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:223] "M" "M" "M" "M" ...
  ..$ MI:'data.frame':	3477 obs. of  10 variables:
  .. ..$ work_year         : int [1:3477] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:3477] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:3477] "Power BI Developer" "Power BI Developer" "Data Analyst" "Data Analyst" ...
  .. ..$ salary            : int [1:3477] 130000 105000 100000 80000 115000 65000 111000 87000 130000 125000 ...
  .. ..$ salary_currency   : chr [1:3477] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:3477] 130000 105000 100000 80000 115000 65000 111000 87000 130000 125000 ...
  .. ..$ employee_residence: chr [1:3477] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:3477] 0 0 0 0 100 100 0 0 0 0 ...
  .. ..$ company_location  : chr [1:3477] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:3477] "M" "M" "M" "M" ...
  ..$ SE:'data.frame':	7370 obs. of  10 variables:
  .. ..$ work_year         : int [1:7370] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:7370] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:7370] "Data Analyst" "Data Analyst" "Data Analyst" "Data Analyst" ...
  .. ..$ salary            : int [1:7370] 132200 115900 145500 115900 160500 77500 175000 135000 145000 130000 ...
  .. ..$ salary_currency   : chr [1:7370] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:7370] 132200 115900 145500 115900 160500 77500 175000 135000 145000 130000 ...
  .. ..$ employee_residence: chr [1:7370] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:7370] 0 0 0 0 0 0 0 0 100 100 ...
  .. ..$ company_location  : chr [1:7370] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:7370] "M" "M" "M" "M" ...
 $ Architecture               :List of 4
  ..$ EN:'data.frame':	30 obs. of  10 variables:
  .. ..$ work_year         : int [1:30] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:30] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:30] "Software Architect" "Software Architect" "Solutions Architect" "Solutions Architect" ...
  .. ..$ salary            : int [1:30] 218500 161500 235750 120000 155000 120000 192600 88400 75000 65000 ...
  .. ..$ salary_currency   : chr [1:30] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:30] 218500 161500 235750 120000 155000 120000 192600 88400 75000 65000 ...
  .. ..$ employee_residence: chr [1:30] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:30] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:30] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:30] "M" "M" "M" "M" ...
  ..$ EX:'data.frame':	18 obs. of  10 variables:
  .. ..$ work_year         : int [1:18] 2025 2025 2025 2025 2025 2025 2025 2025 2024 2024 ...
  .. ..$ employment_type   : chr [1:18] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:18] "Data Architect" "Data Architect" "Solutions Architect" "Solutions Architect" ...
  .. ..$ salary            : int [1:18] 159700 127800 258750 178400 218860 168350 190000 165000 380424 294780 ...
  .. ..$ salary_currency   : chr [1:18] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:18] 159700 127800 258750 178400 218860 168350 190000 165000 380424 294780 ...
  .. ..$ employee_residence: chr [1:18] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:18] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:18] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:18] "M" "M" "M" "M" ...
  ..$ MI:'data.frame':	72 obs. of  10 variables:
  .. ..$ work_year         : int [1:72] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:72] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:72] "Data Architect" "Data Architect" "Solutions Architect" "Solutions Architect" ...
  .. ..$ salary            : int [1:72] 283400 152600 160000 108800 34992 34992 90000 90000 154100 113900 ...
  .. ..$ salary_currency   : chr [1:72] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:72] 283400 152600 160000 108800 36833 36833 90000 90000 154100 113900 ...
  .. ..$ employee_residence: chr [1:72] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:72] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:72] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:72] "M" "M" "M" "M" ...
  ..$ SE:'data.frame':	3979 obs. of  10 variables:
  .. ..$ work_year         : int [1:3979] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:3979] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:3979] "Solutions Architect" "Solutions Architect" "Architect" "Architect" ...
  .. ..$ salary            : int [1:3979] 263000 177000 271000 183000 216000 147000 216000 147000 263000 177000 ...
  .. ..$ salary_currency   : chr [1:3979] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:3979] 263000 177000 271000 183000 216000 147000 216000 147000 263000 177000 ...
  .. ..$ employee_residence: chr [1:3979] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:3979] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:3979] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:3979] "M" "M" "M" "M" ...
 $ Data_Engineering           :List of 4
  ..$ EN:'data.frame':	709 obs. of  10 variables:
  .. ..$ work_year         : int [1:709] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:709] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:709] "Data Engineer" "Data Engineer" "Data Engineer" "Data Engineer" ...
  .. ..$ salary            : int [1:709] 79654 69264 113000 68600 82100 69800 55400 46100 134600 95200 ...
  .. ..$ salary_currency   : chr [1:709] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:709] 79654 69264 113000 68600 82100 69800 55400 46100 134600 95200 ...
  .. ..$ employee_residence: chr [1:709] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:709] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:709] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:709] "M" "M" "M" "M" ...
  ..$ EX:'data.frame':	623 obs. of  10 variables:
  .. ..$ work_year         : int [1:623] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:623] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:623] "Data Engineer" "Data Engineer" "Data Engineer" "Data Engineer" ...
  .. ..$ salary            : int [1:623] 272100 202900 188400 125600 219800 179500 244200 183200 195000 180000 ...
  .. ..$ salary_currency   : chr [1:623] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:623] 272100 202900 188400 125600 219800 179500 244200 183200 195000 180000 ...
  .. ..$ employee_residence: chr [1:623] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:623] 0 0 0 0 100 100 100 100 0 0 ...
  .. ..$ company_location  : chr [1:623] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:623] "M" "M" "M" "M" ...
  ..$ MI:'data.frame':	5878 obs. of  10 variables:
  .. ..$ work_year         : int [1:5878] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:5878] "FT" "FT" "CT" "CT" ...
  .. ..$ job_title         : chr [1:5878] "Data Engineer" "Data Engineer" "Data Engineer" "Data Engineer" ...
  .. ..$ salary            : int [1:5878] 235400 195254 130000 120000 130000 120000 130000 120000 130000 120000 ...
  .. ..$ salary_currency   : chr [1:5878] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:5878] 235400 195254 130000 120000 130000 120000 130000 120000 130000 120000 ...
  .. ..$ employee_residence: chr [1:5878] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:5878] 100 100 0 0 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:5878] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:5878] "M" "M" "M" "M" ...
  ..$ SE:'data.frame':	11004 obs. of  10 variables:
  .. ..$ work_year         : int [1:11004] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:11004] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:11004] "Analytics Engineer" "Analytics Engineer" "Analytics Engineer" "Analytics Engineer" ...
  .. ..$ salary            : int [1:11004] 170000 120000 97000 84000 180000 150000 235400 218284 208950 159000 ...
  .. ..$ salary_currency   : chr [1:11004] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:11004] 170000 120000 97000 84000 180000 150000 235400 218284 208950 159000 ...
  .. ..$ employee_residence: chr [1:11004] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:11004] 0 0 0 0 100 100 0 0 0 0 ...
  .. ..$ company_location  : chr [1:11004] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:11004] "M" "M" "M" "M" ...
 $ Data_Governance_and_Quality:List of 4
  ..$ EN:'data.frame':	379 obs. of  10 variables:
  .. ..$ work_year         : int [1:379] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:379] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:379] "Data Quality Analyst" "Data Quality Analyst" "Data Management Analyst" "Data Management Analyst" ...
  .. ..$ salary            : int [1:379] 60000 48000 176000 77600 75000 60500 95000 75000 158000 69300 ...
  .. ..$ salary_currency   : chr [1:379] "GBP" "GBP" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:379] 75949 60759 176000 77600 75000 60500 95000 75000 158000 69300 ...
  .. ..$ employee_residence: chr [1:379] "GB" "GB" "US" "US" ...
  .. ..$ remote_ratio      : int [1:379] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:379] "GB" "GB" "US" "US" ...
  .. ..$ company_size      : chr [1:379] "M" "M" "M" "M" ...
  ..$ EX:'data.frame':	172 obs. of  10 variables:
  .. ..$ work_year         : int [1:172] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:172] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:172] "Data Governance" "Data Governance" "Data Governance" "Data Governance" ...
  .. ..$ salary            : int [1:172] 165000 95000 175900 149515 183500 125000 185000 143000 231000 176000 ...
  .. ..$ salary_currency   : chr [1:172] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:172] 165000 95000 175900 149515 183500 125000 185000 143000 231000 176000 ...
  .. ..$ employee_residence: chr [1:172] "GB" "GB" "US" "US" ...
  .. ..$ remote_ratio      : int [1:172] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:172] "GB" "GB" "US" "US" ...
  .. ..$ company_size      : chr [1:172] "M" "M" "M" "M" ...
  ..$ MI:'data.frame':	565 obs. of  10 variables:
  .. ..$ work_year         : int [1:565] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:565] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:565] "Data Management" "Data Management" "Data Management Professional" "Data Management Professional" ...
  .. ..$ salary            : int [1:565] 159100 96400 198000 86800 66000 63500 101800 61100 92000 68000 ...
  .. ..$ salary_currency   : chr [1:565] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:565] 159100 96400 198000 86800 66000 63500 101800 61100 92000 68000 ...
  .. ..$ employee_residence: chr [1:565] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:565] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:565] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:565] "M" "M" "M" "M" ...
  ..$ SE:'data.frame':	888 obs. of  10 variables:
  .. ..$ work_year         : int [1:888] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:888] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:888] "Data Management Analyst" "Data Management Analyst" "Data Management Analyst" "Data Management Analyst" ...
  .. ..$ salary            : int [1:888] 143600 77600 149400 84000 44500 32480 97000 83000 203900 138900 ...
  .. ..$ salary_currency   : chr [1:888] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:888] 143600 77600 149400 84000 46842 34189 97000 83000 203900 138900 ...
  .. ..$ employee_residence: chr [1:888] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:888] 0 0 0 0 0 0 100 100 0 0 ...
  .. ..$ company_location  : chr [1:888] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:888] "M" "M" "M" "M" ...
 $ Data_Science               :List of 4
  ..$ EN:'data.frame':	954 obs. of  10 variables:
  .. ..$ work_year         : int [1:954] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:954] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:954] "Data Scientist" "Data Scientist" "Data Scientist" "Data Scientist" ...
  .. ..$ salary            : int [1:954] 78000 68000 106000 99558 225000 225000 200000 200000 123700 68700 ...
  .. ..$ salary_currency   : chr [1:954] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:954] 78000 68000 106000 99558 225000 225000 200000 200000 123700 68700 ...
  .. ..$ employee_residence: chr [1:954] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:954] 0 0 0 0 0 0 0 0 100 100 ...
  .. ..$ company_location  : chr [1:954] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:954] "M" "M" "M" "M" ...
  ..$ EX:'data.frame':	332 obs. of  10 variables:
  .. ..$ work_year         : int [1:332] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:332] "FT" "FT" "FT" "FT" ...
  .. ..$ job_title         : chr [1:332] "Data Scientist" "Data Scientist" "Data Scientist" "Data Scientist" ...
  .. ..$ salary            : int [1:332] 140000 99900 235000 205000 200000 141170 130920 87280 175000 150000 ...
  .. ..$ salary_currency   : chr [1:332] "USD" "USD" "USD" "USD" ...
  .. ..$ salary_in_usd     : int [1:332] 140000 99900 235000 205000 200000 141170 130920 87280 175000 150000 ...
  .. ..$ employee_residence: chr [1:332] "US" "US" "US" "US" ...
  .. ..$ remote_ratio      : int [1:332] 0 0 0 0 0 0 0 0 0 0 ...
  .. ..$ company_location  : chr [1:332] "US" "US" "US" "US" ...
  .. ..$ company_size      : chr [1:332] "M" "M" "M" "M" ...
  ..$ MI:'data.frame':	6503 obs. of  10 variables:
  .. ..$ work_year         : int [1:6503] 2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
  .. ..$ employment_type   : chr [1:6503] "FT" "FT" "FT" "FT" ...

In [ ]:
# P1.1
## Respusta
#a) ---------------------------------------------------------------------
class(perfiles) # es una lista

[1] "list"

In [ ]:
#b) ---------------------------------------------------------------------
length(perfiles) # 11 elementos

[1] 11

In [ ]:
#c) ---------------------------------------------------------------------
names(perfiles) # 'AI_and_Machine_Learning''Analytics_and_BI''Architecture''Data_Engineering''Data_Governance_and_Quality''Data_Science''Management_and_Leadership''Others_Generalist''Product_and_Strategy''Research_and_Academia''Software_and_DevOps'

 [1] "AI_and_Machine_Learning"     "Analytics_and_BI"
 [3] "Architecture"                "Data_Engineering"
 [5] "Data_Governance_and_Quality" "Data_Science"
 [7] "Management_and_Leadership"   "Others_Generalist"
 [9] "Product_and_Strategy"        "Research_and_Academia"
[11] "Software_and_DevOps"

In [ ]:

#d) ---------------------------------------------------------------------
class(perfiles$Data_Science)
length(perfiles$Data_Science)
names(perfiles$Data_Science)# es una lista con 4 elementos, a saber: 'EN''EX''MI''SE' (estos corresponden a los niveles de experiencia de los perfiles registrados en la categoría Data_Science)

[1] "list"

[1] 4

[1] "EN" "EX" "MI" "SE"

In [ ]:

#e) ---------------------------------------------------------------------
class(perfiles$Data_Science$MI); dim(perfiles$Data_Science$MI) # es un data.frame con 6503 filas  y 10 columnas

[1] "data.frame"

[1] 6503   10

## Pregunta 1.2

**2a) (4pts)** Para cada nivel de experiencia (EN; MI; SE; EX), dentro de la categoría `AI_and_Machine_Learning`¿Cuántos perfiles se registraron con el cargo "AI Architect" y qué nivel de expriencia tiene la mayoría de los perfiles con este cargo? ¿Cuantos perfiles en total con este cargo se han registrado?.<br>
**2b) (4pts)** Genere 4 nuevas variables llamadas `Analytics_and_BI_EN`, `Analytics_and_BI_MI`, `Analytics_and_BI_SE`, `Analytics_and_BI_EX` que contenga los data frames de cada nivel de experiencia para la categoría "Analytics_and_BI" (por ejemplo, la variable `Analytics_and_BI_EN` debe contener una dataframe de dimensión $5688\times 10$).<br>
**2c) (2pts)** Para cada dataframe del paso anterior, genere una nueva columna llamada `experience_level`, que repita el nivel de experiencia (En, MI, SE o EX) correspondiente por cada fila.<br>
Por ejemplo, los 6 primeros registros de la variable (data frame) `Analytics_and_BI_EN` debe verse de la siguiente manera:

![image.png]()

In [ ]:
# P1.2
## Respusta
#a) ---------------------------------------------------------------------
nrow(perfiles$AI_and_Machine_Learning$EN[perfiles$AI_and_Machine_Learning$EN$job_title == "AI Architect",])
nrow(perfiles$AI_and_Machine_Learning$MI[perfiles$AI_and_Machine_Learning$MI$job_title == "AI Architect",] )
nrow(perfiles$AI_and_Machine_Learning$SE[perfiles$AI_and_Machine_Learning$SE$job_title == "AI Architect",] )
nrow(perfiles$AI_and_Machine_Learning$EX[perfiles$AI_and_Machine_Learning$EX$job_title == "AI Architect",] )

# Nivel Junior: 0
# Nivel Intermedio: 1
# Nivel Senior: 265
# Nivel Ejecutivo: 1

# La mayoría de los perfiles con este cargo tiene un nivel de experiencia Senior, con 265 registros.
# El total de perfiles con este cargo asciende a 267 personas.

[1] 0

[1] 1

[1] 265

[1] 1

In [ ]:
#b) ---------------------------------------------------------------------

Analytics_and_BI_EN <- perfiles$Analytics_and_BI$EN
Analytics_and_BI_MI <- perfiles$Analytics_and_BI$MI
Analytics_and_BI_SE <- perfiles$Analytics_and_BI$SE
Analytics_and_BI_EX <- perfiles$Analytics_and_BI$EX

In [ ]:

#c) ---------------------------------------------------------------------
# 1 pt por crear el vector con el mes  más 1 pt por asignarlo al data.frame

Analytics_and_BI_EN$experience_level <- "EN"
Analytics_and_BI_MI$experience_level <- "MI"
Analytics_and_BI_SE$experience_level <- "SE"
Analytics_and_BI_EX$experience_level <- "EX"

In [ ]:
head(Analytics_and_BI_EN)

    work_year employment_type job_title    salary salary_currency salary_in_usd
115 2025      FT              Data Analyst 85000  USD             85000
116 2025      FT              Data Analyst 62835  USD             62835
117 2025      FT              Data Analyst 40000  GBP             50632
118 2025      FT              Data Analyst 30000  GBP             37974
121 2025      CT              Data Analyst 32904  EUR             34635
122 2025      CT              Data Analyst 32904  EUR             34635
    employee_residence remote_ratio company_location company_size
115 US                 0            US               M
116 US                 0            US               M
117 GB                 0            GB               M
118 GB                 0            GB               M
121 FR                 0            FR               M
122 FR                 0            FR               M
    experience_level
115 EN
116 EN
117 EN
118 EN
121 EN
122 EN

## Pregunta 1.3

**3a) (2pts)** Con la ayuda de la función `rbind()` , una las filas de las 4 tablas generadas en la pregunta anterior y guarde la tabla resultante en una variable llamada `Analytics_and_BI`. Su tabla resultante debe contener 16758 filas y 11 columnas. Sobre el dataframe resultante, añada una nueva columna llamada `category` que repita el nombre de la categoría de empleo, en este caso: "Analytics_and_BI".<br>
**3b) (2pt)** Con la ayuda de la función `unique()` ¿Cuántos cargos distintos (`job_title`) hay en el dataframe `Analytics_and_BI`? <br>
**3c) (4pt)** Considerando el dataframe `Analytics_and_BI`, ¿Cuál es el salario promedio en USD (`salary_in_usd`) para cada nivel de experiencia `experience_level`?. <br>
**3d) (2pts)** Considerando sólo los cargos con nivel de experiencia intermedio, ¿Cuál es el salario promedio en USD (`salary_in_usd`) por tamaño de empresa (`company_size`).<br>
**3e) (2pts)** ¿Cuántos cargos hay registrados de nivel Nivel inicial / Junior  totalmente remotos (`remote_ratio == 100`) en el año 2025?.<br>

In [ ]:
# P1.3
## Respusta
#a) ---------------------------------------------------------------------

Analytics_and_BI <- rbind(Analytics_and_BI_EN,
                          Analytics_and_BI_MI,
                          Analytics_and_BI_SE,
                          Analytics_and_BI_EX
                  )
Analytics_and_BI$category <- "Analytics_and_BI"
str(Analytics_and_BI)

'data.frame':	16758 obs. of  12 variables:
 $ work_year         : int  2025 2025 2025 2025 2025 2025 2025 2025 2025 2025 ...
 $ employment_type   : chr  "FT" "FT" "FT" "FT" ...
 $ job_title         : chr  "Data Analyst" "Data Analyst" "Data Analyst" "Data Analyst" ...
 $ salary            : int  85000 62835 40000 30000 32904 32904 87360 58240 105000 85000 ...
 $ salary_currency   : chr  "USD" "USD" "GBP" "GBP" ...
 $ salary_in_usd     : int  85000 62835 50632 37974 34635 34635 87360 58240 110526 89473 ...
 $ employee_residence: chr  "US" "US" "GB" "GB" ...
 $ remote_ratio      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ company_location  : chr  "US" "US" "GB" "GB" ...
 $ company_size      : chr  "M" "M" "M" "M" ...
 $ experience_level  : chr  "EN" "EN" "EN" "EN" ...
 $ category          : chr  "Analytics_and_BI" "Analytics_and_BI" "Analytics_and_BI" "Analytics_and_BI" ...

In [ ]:
#b) ---------------------------------------------------------------------
length(unique(Analytics_and_BI$job_title))# Hay 52 cargos distintos dentro de la categoría Analytics_and_BI.
unique(Analytics_and_BI$job_title)

[1] 52

 [1] "Data Analyst"                       "BI Analyst"
 [3] "Business Intelligence Analyst"      "Business Intelligence Developer"
 [5] "Fraud Data Analyst"                 "Admin & Data Analyst"
 [7] "Power BI"                           "Insight Analyst"
 [9] "Business Intelligence"              "Power BI Developer"
[11] "Business Intelligence Specialist"   "Data and Reporting Analyst"
[13] "Data Reporting Analyst"             "Data Visualization Analyst"
[15] "Business Intelligence Engineer"     "Data Visualization Engineer"
[17] "Data and Reporting Professional"    "Data Visualization Specialist"
[19] "Business Intelligence Lead"         "Data Analyst Lead"
[21] "BI Data Analyst"                    "Financial Data Analyst"
[23] "Staff Data Analyst"                 "Finance Data Analyst"
[25] "Compliance Data Analyst"            "Business Intelligence Data Analyst"
[27] "Product Data Analyst"               "Business Data Analyst"
[29] "Data Visualization Developer"       "Power BI Administrator"
[31] "BI & Data Analyst"                  "Power BI Specialist"
[33] "Business Intelligence Manager"      "Data Visualization Designer"
[35] "Tableau Developer"                  "Data Reporting Specialist"
[37] "Big Data Analyst"                   "Lead Data Analyst"
[39] "Sales Data Analyst"                 "Principal Data Analyst"
[41] "Power BI Expert"                    "Data Visualization Lead"
[43] "Advanced Data Analyst"              "Data Visualization Expert"
[45] "Power BI Consultant"                "Power BI Architect"
[47] "Business Intelligence Consultant"   "CRM Data Analyst"
[49] "Marketing Data Analyst"             "People Data Analyst"
[51] "Head of Business Intelligence"      "Director of Business Intelligence"

In [ ]:
#c) ---------------------------------------------------------------------
round(mean(Analytics_and_BI[Analytics_and_BI$experience_level == "EN", "salary_in_usd"]),0)
round(mean(Analytics_and_BI[Analytics_and_BI$experience_level == "MI", "salary_in_usd"]),0)
round(mean(Analytics_and_BI[Analytics_and_BI$experience_level == "SE", "salary_in_usd"]),0)
round(mean(Analytics_and_BI[Analytics_and_BI$experience_level == "EX", "salary_in_usd"]),0)


# Salario promedio (USD) para (EN) Nivel inicial / Junior : 88819
# Salario promedio (USD) para (MI) Nivel intermedio       : 101988
# Salario promedio (USD) para (SE) Nivel senior           : 125577
# Salario promedio (USD) para (EX) Ejecutivo / Director   : 147642

[1] 88819

[1] 101988

[1] 125577

[1] 147642

In [ ]:
#d) ---------------------------------------------------------------------
round(mean(Analytics_and_BI[Analytics_and_BI$experience_level == "MI" & Analytics_and_BI$company_size == "S", "salary_in_usd"]),0)
round(mean(Analytics_and_BI[Analytics_and_BI$experience_level == "MI" & Analytics_and_BI$company_size == "M", "salary_in_usd"]),0)
round(mean(Analytics_and_BI[Analytics_and_BI$experience_level == "MI" & Analytics_and_BI$company_size == "L", "salary_in_usd"]),0)

#Salario promedio (USD) compañías pequeñas (S) : 69159
#Salario promedio (USD) compañías medianas (M) : 101353
#Salario promedio (USD) compañías grandes  (L) : 114854

[1] 69159

[1] 101353

[1] 114854

# Sección 2

En esta sección se busca realizar una pequeña descripción de los salarios para los distintos perfiles con base en la información disponible en la lista `perfiles`.
Para ello ustede deberá primero consolidar la información en una tabla que contenga todos los registros para cada categoría de puesto de trabajo y cada nivel de experiencia.

##  Pregunta 2.1

**1a) (4pts)** Repita el procedimiento de 1.2c) y 1.3a) para genererar 11 nuevos dataframes (uno por categoría de empleo) y consolide estos 11 dataframes en uno solo llamado `perfiles_df` utilizando la función `rbind()`. <br>
Considere utilizar un ciclo `for()` para la creación del dataframe final. En caso contrario, también es válido realizar manualmente el desarrollo requerido. <br>
**NOTA:** Su dataframe se debe ver de la siguiente manera y debe tener un total de 141566 filas y 12 columnas. <br>
**NOTA:** Como alternativa, puede considerar iterar sobre los nombres de `perfiles`.

In [ ]:
#a) ---------------------------------------------------------------------
# Utilizando un ciclo for()
categorias <- names(perfiles)

In [ ]:
perfiles_df <- data.frame()
for(cat in categorias){
  print(cat)# Sólo para imprimir el nombre de iteración del ciclo

  aux_EN <- perfiles[[cat]]$EN
  aux_MI <- perfiles[[cat]]$MI
  aux_SE <- perfiles[[cat]]$SE
  aux_EX <- perfiles[[cat]]$EX

  aux_EN$experience_level <- "EN"
  aux_MI$experience_level <- "MI"
  aux_SE$experience_level <- "SE"
  aux_EX$experience_level <- "EX"

  aux <- rbind(aux_EN,aux_MI,aux_SE,aux_EX)

  aux$category <- cat
  print(paste("total filas añadidas: ", nrow(aux))) # Sólo para monitorear el total de filas que se añaden por categoría
  perfiles_df <- rbind(perfiles_df,aux)
                  }

[1] "AI_and_Machine_Learning"
[1] "total filas añadidas:  13242"
[1] "Analytics_and_BI"
[1] "total filas añadidas:  16758"
[1] "Architecture"
[1] "total filas añadidas:  4099"
[1] "Data_Engineering"
[1] "total filas añadidas:  18214"
[1] "Data_Governance_and_Quality"
[1] "total filas añadidas:  2004"
[1] "Data_Science"
[1] "total filas añadidas:  20957"
[1] "Management_and_Leadership"
[1] "total filas añadidas:  11241"
[1] "Others_Generalist"
[1] "total filas añadidas:  25591"
[1] "Product_and_Strategy"
[1] "total filas añadidas:  3602"
[1] "Research_and_Academia"
[1] "total filas añadidas:  6126"
[1] "Software_and_DevOps"
[1] "total filas añadidas:  19732"

In [ ]:
dim(perfiles_df)

[1] 141566     12

In [ ]:
## repitiendo el proceso manualmente 11 veces
## AI_and_Machine_Learning
AI_and_Machine_Learning_EN <- perfiles$AI_and_Machine_Learning$EN
AI_and_Machine_Learning_MI <- perfiles$AI_and_Machine_Learning$MI
AI_and_Machine_Learning_SE <- perfiles$AI_and_Machine_Learning$SE
AI_and_Machine_Learning_EX <- perfiles$AI_and_Machine_Learning$EX

AI_and_Machine_Learning_EN$experience_level <- "EN"
AI_and_Machine_Learning_MI$experience_level <- "MI"
AI_and_Machine_Learning_SE$experience_level <- "SE"
AI_and_Machine_Learning_EX$experience_level <- "EX"

AI_and_Machine_Learning <- rbind(AI_and_Machine_Learning_EN,
                      AI_and_Machine_Learning_MI,
                      AI_and_Machine_Learning_SE,
                      AI_and_Machine_Learning_EX
                  )

AI_and_Machine_Learning$category <- "AI_and_Machine_Learning"
## Analytics_and_BI (YA REALIZADO)
Analytics_and_BI_EN <- perfiles$Analytics_and_BI$EN
Analytics_and_BI_MI <- perfiles$Analytics_and_BI$MI
Analytics_and_BI_SE <- perfiles$Analytics_and_BI$SE
Analytics_and_BI_EX <- perfiles$Analytics_and_BI$EX

Analytics_and_BI_EN$experience_level <- "EN"
Analytics_and_BI_MI$experience_level <- "MI"
Analytics_and_BI_SE$experience_level <- "SE"
Analytics_and_BI_EX$experience_level <- "EX"

Analytics_and_BI <- rbind(Analytics_and_BI_EN,
                      Analytics_and_BI_MI,
                      Analytics_and_BI_SE,
                      Analytics_and_BI_EX
                  )

Analytics_and_BI$category <- "Analytics_and_BI"
## Architecture
Architecture_EN <- perfiles$Architecture$EN
Architecture_MI <- perfiles$Architecture$MI
Architecture_SE <- perfiles$Architecture$SE
Architecture_EX <- perfiles$Architecture$EX

Architecture_EN$experience_level <- "EN"
Architecture_MI$experience_level <- "MI"
Architecture_SE$experience_level <- "SE"
Architecture_EX$experience_level <- "EX"

Architecture <- rbind(Architecture_EN,
                      Architecture_MI,
                      Architecture_SE,
                      Architecture_EX
                  )

Architecture$category <- "Architecture"
## Data_Engineering
Data_Engineering_EN <- perfiles$Data_Engineering$EN
Data_Engineering_MI <- perfiles$Data_Engineering$MI
Data_Engineering_SE <- perfiles$Data_Engineering$SE
Data_Engineering_EX <- perfiles$Data_Engineering$EX

Data_Engineering_EN$experience_level <- "EN"
Data_Engineering_MI$experience_level <- "MI"
Data_Engineering_SE$experience_level <- "SE"
Data_Engineering_EX$experience_level <- "EX"

Data_Engineering <- rbind(Data_Engineering_EN,
                      Data_Engineering_MI,
                      Data_Engineering_SE,
                      Data_Engineering_EX
                  )

Data_Engineering$category <- "Data_Engineering"
## Data_Governance_and_Quality
Data_Governance_and_Quality_EN <- perfiles$Data_Governance_and_Quality$EN
Data_Governance_and_Quality_MI <- perfiles$Data_Governance_and_Quality$MI
Data_Governance_and_Quality_SE <- perfiles$Data_Governance_and_Quality$SE
Data_Governance_and_Quality_EX <- perfiles$Data_Governance_and_Quality$EX

Data_Governance_and_Quality_EN$experience_level <- "EN"
Data_Governance_and_Quality_MI$experience_level <- "MI"
Data_Governance_and_Quality_SE$experience_level <- "SE"
Data_Governance_and_Quality_EX$experience_level <- "EX"

Data_Governance_and_Quality <- rbind(Data_Governance_and_Quality_EN,
                      Data_Governance_and_Quality_MI,
                      Data_Governance_and_Quality_SE,
                      Data_Governance_and_Quality_EX
                  )

Data_Governance_and_Quality$category <- "Data_Governance_and_Quality"
## Data_Science
Data_Science_EN <- perfiles$Data_Science$EN
Data_Science_MI <- perfiles$Data_Science$MI
Data_Science_SE <- perfiles$Data_Science$SE
Data_Science_EX <- perfiles$Data_Science$EX

Data_Science_EN$experience_level <- "EN"
Data_Science_MI$experience_level <- "MI"
Data_Science_SE$experience_level <- "SE"
Data_Science_EX$experience_level <- "EX"

Data_Science <- rbind(Data_Science_EN,
                      Data_Science_MI,
                      Data_Science_SE,
                      Data_Science_EX
                  )

Data_Science$category <- "Data_Science"
## Management_and_Leadership
Management_and_Leadership_EN <- perfiles$Management_and_Leadership$EN
Management_and_Leadership_MI <- perfiles$Management_and_Leadership$MI
Management_and_Leadership_SE <- perfiles$Management_and_Leadership$SE
Management_and_Leadership_EX <- perfiles$Management_and_Leadership$EX

Management_and_Leadership_EN$experience_level <- "EN"
Management_and_Leadership_MI$experience_level <- "MI"
Management_and_Leadership_SE$experience_level <- "SE"
Management_and_Leadership_EX$experience_level <- "EX"

Management_and_Leadership <- rbind(Management_and_Leadership_EN,
                      Management_and_Leadership_MI,
                      Management_and_Leadership_SE,
                      Management_and_Leadership_EX
                  )

Management_and_Leadership$category <- "Management_and_Leadership"
## Others_Generalist
Others_Generalist_EN <- perfiles$Others_Generalist$EN
Others_Generalist_MI <- perfiles$Others_Generalist$MI
Others_Generalist_SE <- perfiles$Others_Generalist$SE
Others_Generalist_EX <- perfiles$Others_Generalist$EX

Others_Generalist_EN$experience_level <- "EN"
Others_Generalist_MI$experience_level <- "MI"
Others_Generalist_SE$experience_level <- "SE"
Others_Generalist_EX$experience_level <- "EX"

Others_Generalist <- rbind(Others_Generalist_EN,
                      Others_Generalist_MI,
                      Others_Generalist_SE,
                      Others_Generalist_EX
                  )

Others_Generalist$category <- "Others_Generalist"
## Product_and_Strategy
Product_and_Strategy_EN <- perfiles$Product_and_Strategy$EN
Product_and_Strategy_MI <- perfiles$Product_and_Strategy$MI
Product_and_Strategy_SE <- perfiles$Product_and_Strategy$SE
Product_and_Strategy_EX <- perfiles$Product_and_Strategy$EX

Product_and_Strategy_EN$experience_level <- "EN"
Product_and_Strategy_MI$experience_level <- "MI"
Product_and_Strategy_SE$experience_level <- "SE"
Product_and_Strategy_EX$experience_level <- "EX"

Product_and_Strategy <- rbind(Product_and_Strategy_EN,
                      Product_and_Strategy_MI,
                      Product_and_Strategy_SE,
                      Product_and_Strategy_EX
                  )

Product_and_Strategy$category <- "Product_and_Strategy"
## Research_and_Academia
Research_and_Academia_EN <- perfiles$Research_and_Academia$EN
Research_and_Academia_MI <- perfiles$Research_and_Academia$MI
Research_and_Academia_SE <- perfiles$Research_and_Academia$SE
Research_and_Academia_EX <- perfiles$Research_and_Academia$EX

Research_and_Academia_EN$experience_level <- "EN"
Research_and_Academia_MI$experience_level <- "MI"
Research_and_Academia_SE$experience_level <- "SE"
Research_and_Academia_EX$experience_level <- "EX"

Research_and_Academia <- rbind(Research_and_Academia_EN,
                      Research_and_Academia_MI,
                      Research_and_Academia_SE,
                      Research_and_Academia_EX
                  )

Research_and_Academia$category <- "Research_and_Academia"
## Software_and_DevOps
Software_and_DevOps_EN <- perfiles$Software_and_DevOps$EN
Software_and_DevOps_MI <- perfiles$Software_and_DevOps$MI
Software_and_DevOps_SE <- perfiles$Software_and_DevOps$SE
Software_and_DevOps_EX <- perfiles$Software_and_DevOps$EX

Software_and_DevOps_EN$experience_level <- "EN"
Software_and_DevOps_MI$experience_level <- "MI"
Software_and_DevOps_SE$experience_level <- "SE"
Software_and_DevOps_EX$experience_level <- "EX"

Software_and_DevOps <- rbind(Software_and_DevOps_EN,
                      Software_and_DevOps_MI,
                      Software_and_DevOps_SE,
                      Software_and_DevOps_EX
                  )

Software_and_DevOps$category <- "Software_and_DevOps"

# Union de todos los dfs
perfiles_df2 <- rbind(AI_and_Machine_Learning,
                      Analytics_and_BI,
                      Architecture,
                      Data_Engineering,
                      Data_Governance_and_Quality,
                      Data_Science,
                      Management_and_Leadership,
                      Others_Generalist,
                      Product_and_Strategy,
                      Research_and_Academia,
                      Software_and_DevOps)

In [ ]:
head(perfiles_df)

     work_year employment_type job_title                 salary salary_currency
553  2025      FT              Machine Learning Engineer 110000 USD
554  2025      FT              Machine Learning Engineer  95000 USD
1347 2025      FT              Machine Learning Engineer 131400 USD
1348 2025      FT              Machine Learning Engineer  67100 USD
1982 2025      FT              AI Researcher             200000 USD
1983 2025      FT              AI Researcher             175000 USD
     salary_in_usd employee_residence remote_ratio company_location
553  110000        US                 100          US
554   95000        US                 100          US
1347 131400        CA                   0          CA
1348  67100        CA                   0          CA
1982 200000        US                   0          US
1983 175000        US                   0          US
     company_size experience_level category
553  M            EN               AI_and_Machine_Learning
554  M            EN               AI_and_Machine_Learning
1347 M            EN               AI_and_Machine_Learning
1348 M            EN               AI_and_Machine_Learning
1982 M            EN               AI_and_Machine_Learning
1983 M            EN               AI_and_Machine_Learning

##  Pregunta 2.2

**2a) (6pts)** A usted se le pide caracterizar los puestos de trabajo de las categorías más demandadas. Para ello usted deberá generar algunos indicadores básicos sobre los puestos de trabajo de las siguientes categorías, **sólo considerando los registros con carfos 100% remoto**:
 * Others_Generalist
 * Data_Science
 * Software_and_DevOps
 * Data_Engineering
 * Analytics_and_BI
 * AI_and_Machine_Learning

 Para cada una de las categorías anteriores (**sólo considerando los registros con cargos 100% remoto**) indique:
  1. Cantidad de puestos de trabajo (`job_title`) registrados.
  2. Salario promedio (`salary_usd`).
  3. Puesto de trabajo (`job_title`), del perfil con mayor salario.
  4. Cantidad de perfiles registrados con `job_title` igual al identificado anteriormente.
  5. Puesto de trabajo (`job_title`),del perfil con menor salario.
  6. Cantidad de perfiles registrados con `job_title` igual al identificado anteriormente.

In [ ]:
# 2.a) ------------------------------------------
# Opción A: Sintaxis básica (en la respuesta de 2.b se muestra una alternativa más eficiente que se abordará en las siguientes clases)

In [ ]:
#Cantidad de cargos 100% remotos por categoría

N_OG <- nrow(perfiles_df[perfiles_df$remote_ratio == 100 & perfiles_df$category == "Others_Generalist", ])
N_DS <- nrow(perfiles_df[perfiles_df$remote_ratio == 100 & perfiles_df$category == "Data_Science", ])
N_SD <- nrow(perfiles_df[perfiles_df$remote_ratio == 100 & perfiles_df$category == "Software_and_DevOps", ])
N_DE <- nrow(perfiles_df[perfiles_df$remote_ratio == 100 & perfiles_df$category == "Data_Engineering", ])
N_BI <- nrow(perfiles_df[perfiles_df$remote_ratio == 100 & perfiles_df$category == "Analytics_and_BI", ])
N_AI <- nrow(perfiles_df[perfiles_df$remote_ratio == 100 & perfiles_df$category == "AI_and_Machine_Learning", ])

print(paste("Others_Generalist: ", N_OG))
print(paste("Data_Science: ", N_DS))
print(paste("Software_and_DevOps: ", N_SD))
print(paste("Data_Engineering: ", N_DE))
print(paste("Analytics_and_BI: ", N_BI))
print(paste("AI_and_Machine_Learning: ", N_AI))

[1] "Others_Generalist:  4206"
[1] "Data_Science:  4816"
[1] "Software_and_DevOps:  3396"
[1] "Data_Engineering:  4559"
[1] "Analytics_and_BI:  4522"
[1] "AI_and_Machine_Learning:  3280"

In [ ]:
# Salario promedio

mean_OG <-  mean(perfiles_df[perfiles_df$remote_ratio == 100 & perfiles_df$category == "Others_Generalist"       , "salary_in_usd" ])
mean_DS <-  mean(perfiles_df[perfiles_df$remote_ratio == 100 & perfiles_df$category == "Data_Science"            , "salary_in_usd" ])
mean_SD <-  mean(perfiles_df[perfiles_df$remote_ratio == 100 & perfiles_df$category == "Software_and_DevOps"     , "salary_in_usd" ])
mean_DE <-  mean(perfiles_df[perfiles_df$remote_ratio == 100 & perfiles_df$category == "Data_Engineering"        , "salary_in_usd" ])
mean_BI <-  mean(perfiles_df[perfiles_df$remote_ratio == 100 & perfiles_df$category == "Analytics_and_BI"        , "salary_in_usd" ])
mean_AI <-  mean(perfiles_df[perfiles_df$remote_ratio == 100 & perfiles_df$category == "AI_and_Machine_Learning" , "salary_in_usd" ])

print(paste("Others_Generalist: Salario promedio: "        ,  mean_OG ))
print(paste("Data_Science: Salario promedio: "             ,  mean_DS ))
print(paste("Software_and_DevOps: Salario promedio: "      ,  mean_SD ))
print(paste("Data_Engineering: Salario promedio: "         ,  mean_DE ))
print(paste("Analytics_and_BI: Salario promedio: "         ,  mean_BI ))
print(paste("AI_and_Machine_Learning: Salario promedio: "  ,  mean_AI ))

[1] "Others_Generalist: Salario promedio:  141611.604850214"
[1] "Data_Science: Salario promedio:  155146.377491694"
[1] "Software_and_DevOps: Salario promedio:  173729.694051826"
[1] "Data_Engineering: Salario promedio:  149627.485194122"
[1] "Analytics_and_BI: Salario promedio:  110745.121848739"
[1] "AI_and_Machine_Learning: Salario promedio:  174835.168902439"

In [ ]:
# job_title con salario máximo y mínimo por categoría
##  vector con T y F que guarda la condición de búsqueda
condicion_OG <- perfiles_df$remote_ratio == 100 & perfiles_df$category == "Others_Generalist"
condicion_DS <- perfiles_df$remote_ratio == 100 & perfiles_df$category == "Data_Science"
condicion_SD <- perfiles_df$remote_ratio == 100 & perfiles_df$category == "Software_and_DevOps"
condicion_DE <- perfiles_df$remote_ratio == 100 & perfiles_df$category == "Data_Engineering"
condicion_BI <- perfiles_df$remote_ratio == 100 & perfiles_df$category == "Analytics_and_BI"
condicion_AI <- perfiles_df$remote_ratio == 100 & perfiles_df$category == "AI_and_Machine_Learning"


# job_title (jt) con salario máximo
jt_max_OG <-  perfiles_df$job_title[condicion_OG][ which.max(perfiles_df[condicion_OG , "salary_in_usd" ])]
jt_max_DS <-  perfiles_df$job_title[condicion_DS][ which.max(perfiles_df[condicion_DS , "salary_in_usd" ])]
jt_max_SD <-  perfiles_df$job_title[condicion_SD][ which.max(perfiles_df[condicion_SD , "salary_in_usd" ])]
jt_max_DE <-  perfiles_df$job_title[condicion_DE][ which.max(perfiles_df[condicion_DE , "salary_in_usd" ])]
jt_max_BI <-  perfiles_df$job_title[condicion_BI][ which.max(perfiles_df[condicion_BI , "salary_in_usd" ])]
jt_max_AI <-  perfiles_df$job_title[condicion_AI][ which.max(perfiles_df[condicion_AI , "salary_in_usd" ])]

# job_title (jt) con salario mínimo
jt_min_OG <-  perfiles_df$job_title[condicion_OG][which.min(perfiles_df[condicion_OG , "salary_in_usd" ])]
jt_min_DS <-  perfiles_df$job_title[condicion_DS][which.min(perfiles_df[condicion_DS , "salary_in_usd" ])]
jt_min_SD <-  perfiles_df$job_title[condicion_SD][which.min(perfiles_df[condicion_SD , "salary_in_usd" ])]
jt_min_DE <-  perfiles_df$job_title[condicion_DE][which.min(perfiles_df[condicion_DE , "salary_in_usd" ])]
jt_min_BI <-  perfiles_df$job_title[condicion_BI][which.min(perfiles_df[condicion_BI , "salary_in_usd" ])]
jt_min_AI <-  perfiles_df$job_title[condicion_AI][which.min(perfiles_df[condicion_AI , "salary_in_usd" ])]


print(paste("Others_Generalist:  Cargo salario máximo: "            ,  jt_max_OG, ". Cargo con salario mínimo: ", jt_min_OG ))
print(paste("Data_Science:  Cargo con salario máximo: "             ,  jt_max_DS, ". Cargo con salario mínimo: ", jt_min_DS ))
print(paste("Software_and_DevOps:  Cargo con salario máximo: "      ,  jt_max_SD, ". Cargo con salario mínimo: ", jt_min_SD ))
print(paste("Data_Engineering:  Cargo con salario máximo: "         ,  jt_max_DE, ". Cargo con salario mínimo: ", jt_min_DE ))
print(paste("Analytics_and_BI:  Cargo con salario máximo: "         ,  jt_max_BI, ". Cargo con salario mínimo: ", jt_min_BI ))
print(paste("AI_and_Machine_Learning:  Cargo con salario máximo: "  ,  jt_max_AI, ". Cargo con salario mínimo: ", jt_min_AI ))

[1] "Others_Generalist:  Cargo salario máximo:  Site Reliability Engineer . Cargo con salario mínimo:  Computer Vision Engineer"
[1] "Data_Science:  Cargo con salario máximo:  Data Scientist . Cargo con salario mínimo:  Data Scientist"
[1] "Software_and_DevOps:  Cargo con salario máximo:  Software Engineer . Cargo con salario mínimo:  Software Engineer"
[1] "Data_Engineering:  Cargo con salario máximo:  Analytics Engineer . Cargo con salario mínimo:  Analytics Engineer"
[1] "Analytics_and_BI:  Cargo con salario máximo:  Data Visualization Engineer . Cargo con salario mínimo:  Business Intelligence Developer"
[1] "AI_and_Machine_Learning:  Cargo con salario máximo:  AI Architect . Cargo con salario mínimo:  Machine Learning Developer"

In [ ]:
#Totales de registros con los cargos anteiores

n_jt_max_OG <- nrow(perfiles_df[condicion_OG & perfiles_df$job_title == jt_max_OG, ])
n_jt_max_DS <- nrow(perfiles_df[condicion_DS & perfiles_df$job_title == jt_max_DS, ])
n_jt_max_SD <- nrow(perfiles_df[condicion_SD & perfiles_df$job_title == jt_max_SD, ])
n_jt_max_DE <- nrow(perfiles_df[condicion_DE & perfiles_df$job_title == jt_max_DE, ])
n_jt_max_BI <- nrow(perfiles_df[condicion_BI & perfiles_df$job_title == jt_max_BI, ])
n_jt_max_AI <- nrow(perfiles_df[condicion_AI & perfiles_df$job_title == jt_max_AI, ])

n_jt_min_OG <- nrow(perfiles_df[condicion_OG & perfiles_df$job_title == jt_min_OG, ])
n_jt_min_DS <- nrow(perfiles_df[condicion_DS & perfiles_df$job_title == jt_min_DS, ])
n_jt_min_SD <- nrow(perfiles_df[condicion_SD & perfiles_df$job_title == jt_min_SD, ])
n_jt_min_DE <- nrow(perfiles_df[condicion_DE & perfiles_df$job_title == jt_min_DE, ])
n_jt_min_BI <- nrow(perfiles_df[condicion_BI & perfiles_df$job_title == jt_min_BI, ])
n_jt_min_AI <- nrow(perfiles_df[condicion_AI & perfiles_df$job_title == jt_min_AI, ])


print(paste("Others_Generalist: N Cargos (cargo del salario máximo): "        ,  n_jt_max_OG, ". N Cargos (cargo del salario mínimo): ", n_jt_min_OG ))
print(paste("Data_Science: N Cargos (cargo del salario máximo): "             ,  n_jt_max_DS, ". N Cargos (cargo del salario mínimo): ", n_jt_min_DS ))
print(paste("Software_and_DevOps: N Cargos (cargo del salario máximo): "      ,  n_jt_max_SD, ". N Cargos (cargo del salario mínimo): ", n_jt_min_SD ))
print(paste("Data_Engineering: N Cargos (cargo del salario máximo): "         ,  n_jt_max_DE, ". N Cargos (cargo del salario mínimo): ", n_jt_min_DE ))
print(paste("Analytics_and_BI: N Cargos (cargo del salario máximo): "         ,  n_jt_max_BI, ". N Cargos (cargo del salario mínimo): ", n_jt_min_BI ))
print(paste("AI_and_Machine_Learning: N Cargos (cargo del salario máximo): "  ,  n_jt_max_AI, ". N Cargos (cargo del salario mínimo): ", n_jt_min_AI ))

[1] "Others_Generalist: N Cargos (cargo del salario máximo):  100 . N Cargos (cargo del salario mínimo):  30"
[1] "Data_Science: N Cargos (cargo del salario máximo):  4264 . N Cargos (cargo del salario mínimo):  4264"
[1] "Software_and_DevOps: N Cargos (cargo del salario máximo):  2614 . N Cargos (cargo del salario mínimo):  2614"
[1] "Data_Engineering: N Cargos (cargo del salario máximo):  691 . N Cargos (cargo del salario mínimo):  691"
[1] "Analytics_and_BI: N Cargos (cargo del salario máximo):  28 . N Cargos (cargo del salario mínimo):  125"
[1] "AI_and_Machine_Learning: N Cargos (cargo del salario máximo):  59 . N Cargos (cargo del salario mínimo):  15"


**2b) (4pts)** Genere un dataframe con la siguiente estructura y guárdelo en un archivo csv.

| Categoria | N_job_title |Salario_promedio_categoria | Cargo_salario_maximo | N_Cargo_salario_maximo| Cargo_salario_minimo | N_Cargo_salario_minimo |
|-----------|----------------------------|----------------------|-----------------------|----------------------|------------------------|------------------------|
|Others_Generalist       | xxx | xxx | xxx | xxx | xxx | xxx |         
|Data_Science            | xxx | xxx | xxx | xxx | xxx | xxx |   
|Software_and_DevOps     | xxx | xxx | xxx | xxx | xxx | xxx |           
|Data_Engineering        | xxx | xxx | xxx | xxx | xxx | xxx |       
|Analytics_and_BI        | xxx | xxx | xxx | xxx | xxx | xxx |       
|AI_and_Machine_Learning | xxx | xxx | xxx | xxx | xxx | xxx |      

Donde:
* `N_job_title`               : Contiene la cantidad de puestos de trabajo calculado anteriormente en el punto 1.
* `Salario_promedio_categoria`: Salario promedio calculado anteriormente en el punto 2.
* `Cargo_salario_maximo`      : Contiene el puesto de trabajo del perfil con salario máximo calculado anteriormente en el punto 3.
* `N_Cargo_salario_maximo`    : Contiene la cantidad de registros con `job_title` identificado anteriormente en el punto 4.
* `Cargo_salario_minimo`      : Contiene el puesto de trabajo del perfil con salario mìnimo calculado anteriormente en el punto 5.  
* `N_Cargo_salario_minimo`    : Contiene la cantidad de registros con `job_title` identificado anteriormente en el punto 6.  

Considerando la información generada (considerando solo los cargos 100% remotos) :
 * ¿Cuál es la categoría con mayor cantidad de puestos de trabajo registrados?
 * ¿Cuál es la categoría con mayor salario promedio?
 * Comente sobre los resultados calculados para la categoría "Software_and_DevOps"

In [ ]:
# 2.b)-------
# Creación del dataframe
# opción A. Guardando todos los valores definidos anteriormentes en vectores y disponiéndolos en un dataframe
# Notar que el orden en el cual se asignas lo elementos de los vectores es crucual.

Categoria <- c("Others_Generalist","Data_Science","Software_and_DevOps","Data_Engineering","Analytics_and_BI","AI_and_Machine_Learning")
N_job_title <- c(N_OG,N_DS,N_SD,N_DE,N_BI,N_AI)
Salario_promedio_categoria <- c(mean_OG,mean_DS,mean_SD,mean_DE,mean_BI,mean_AI)
Cargo_salario_maximo <- c(jt_max_OG,jt_max_DS,jt_max_SD,jt_max_DE,jt_max_BI,jt_max_AI)
N_Cargo_salario_maximo <- c(n_jt_max_OG,n_jt_max_DS,n_jt_max_SD,n_jt_max_DE,n_jt_max_BI,n_jt_max_AI)
Cargo_salario_minimo <- c(jt_min_OG,jt_min_DS,jt_min_SD,jt_min_DE,jt_min_BI,jt_min_AI)
N_Cargo_salario_minimo <- c(n_jt_min_OG,n_jt_min_DS,n_jt_min_SD,n_jt_min_DE,n_jt_min_BI,n_jt_min_AI)

resumen <- data.frame(
  Categoria,
  N_job_title,
  Salario_promedio_categoria,
  Cargo_salario_maximo,
  N_Cargo_salario_maximo,
  Cargo_salario_minimo,
  N_Cargo_salario_minimo
)

resumen

  Categoria               N_job_title Salario_promedio_categoria
1 Others_Generalist       4206        141611.6
2 Data_Science            4816        155146.4
3 Software_and_DevOps     3396        173729.7
4 Data_Engineering        4559        149627.5
5 Analytics_and_BI        4522        110745.1
6 AI_and_Machine_Learning 3280        174835.2
  Cargo_salario_maximo        N_Cargo_salario_maximo
1 Site Reliability Engineer    100
2 Data Scientist              4264
3 Software Engineer           2614
4 Analytics Engineer           691
5 Data Visualization Engineer   28
6 AI Architect                  59
  Cargo_salario_minimo            N_Cargo_salario_minimo
1 Computer Vision Engineer          30
2 Data Scientist                  4264
3 Software Engineer               2614
4 Analytics Engineer               691
5 Business Intelligence Developer  125
6 Machine Learning Developer        15

In [ ]:
# Opción B: Sintaxis con dplyr (lo veremos más adelante durante el curso). Con esto se evita tener que calcular cada métrica por cada categoría (alternativa más eficiente a la respuesta dada en 2.a)
library(dplyr)
cats <- c("Others_Generalist","Data_Science","Software_and_DevOps","Data_Engineering","Analytics_and_BI","AI_and_Machine_Learning")
resumen <- perfiles_df %>%
  filter(remote_ratio == 100 & category %in% cats) %>%
  group_by(category, job_title) %>%
  summarise(count = n(),
            max_salary = max(salary_in_usd),
            min_salary = min(salary_in_usd),
            aux_sum_salary = sum(salary_in_usd)) %>%
  group_by(category) %>%
  summarise(
    N_job_title = sum(count),
    Salario_promedio_categoria = sum(aux_sum_salary)/sum(count),
    job_title_salario_maximo   = job_title[which.max(max_salary)],
    N_Cargo_salario_maximo     = count[which.max(max_salary)],
    job_title_salario_minimo   = job_title[which.min(min_salary)],
    N_Cargo_salario_minimo     = count[which.min(min_salary)]
  )

  resumen

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


`summarise()` has grouped output by 'category'. You can override using the
`.groups` argument.

  category                N_job_title Salario_promedio_categoria
1 AI_and_Machine_Learning 3280        174835.2
2 Analytics_and_BI        4522        110745.1
3 Data_Engineering        4559        149627.5
4 Data_Science            4816        155146.4
5 Others_Generalist       4206        141611.6
6 Software_and_DevOps     3396        173729.7
  job_title_salario_maximo    N_Cargo_salario_maximo
1 AI Architect                  59
2 Data Visualization Engineer   28
3 Analytics Engineer           691
4 Data Scientist              4264
5 Site Reliability Engineer    100
6 Software Engineer           2614
  job_title_salario_minimo        N_Cargo_salario_minimo
1 Machine Learning Developer        15
2 Business Intelligence Developer  125
3 Analytics Engineer               691
4 Data Scientist                  4264
5 Computer Vision Engineer          30
6 Software Engineer               2614

In [ ]:
# Escritura de archivo *.csv

write.csv(resumen, "resumen.csv", row.names = F)

In [ ]:
# Comentarios
#¿Cuál es la categoría con mayor cantidad de puestos de trabajo registrados?
#Con base al resumen generado, se puede observar que la categoría "Data_Science" es la que más registros contiene, considerando aquellas posiciones 100% remotos.

#¿Cuál es la categoría con mayor salario promedio?
#"AI_and_Machine_Learning" es la categoría con mayor salario promedio, entro de la cual, "AI Architect" es el cargo del perfil con mayor salario registrado (59 perfiles con dicho cargo), mientras que el perfil que registó menor salario tiene el cargo "Machine Learning Developer" dentro de la categoría "AI_and_Machine_Learning".